/*Reset inicial*/

*{
    margin: 0;
    padding: 0;
}

/*Estilos tipográficos*/

h1{
    font-family: 'Alegreya Sans', sans-serif;
}

h2,h3,h4{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.8em;
    font-weight: bolder;
    line-height: 1.2em;
}

div p{
    font-family: 'Source Sans 3', sans-serif;
    line-height: 1.5em;
}

/* Estructura principal */

header{
    background-color: black;
    color: #F2F2F2;
}

nav{
    font-family: 'Source Sans 3', sans-serif;
}

nav a{
    text-decoration: none;
    color: #F2F2F2;
}

footer{
    background-color: #0D0D0D;
    color: #F2F2F2;
    font-family: 'Source Sans 3', sans-serif;
}

footer div{
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

footer h4{
    color: #D9B13B;
    font-weight: 900;
}

footer a{
    text-decoration: none;
    color: #F2F2F2;
}

/* Estilos de elementos principales */

button{
    background-color: #D9B13B;
    color: #F2F2F2;
    margin-right: 10px;
    padding: 10px;
}

/* Personalización de Bootstrap */

.bg-dark-nav{
    background-color: black;
}

.justify-content-end-nav{
    display: flex;
    justify-content: end;
}

/* Clases personalizadas */

.btnSecondary{
    background-color: #F2F2F2;
    border-color: #D9B13B;
    border-style: solid;
    color: #D9B13B;
}

.btnEnviar{
    background-color: #D9B13B;
}

.flexRow{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.arriba{
    align-items: start;
}

/*.flexColumn{
    display: flex;
    flex-direction: column;
}*/

.darkSection{
    background-color: #0D0D0D;
    padding: 20px;
    color:#D9B13B
}

.pasos{
    font-weight: bolder;
}

.card-recomended{
    font-family: 'Source Sans 3', sans-serif;
    background-color: #F2F2F2;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 10px;
    color: #0D0D0D;
}

.recoAutor{
    font-weight: bolder;
    font-size: small;
}

.centrado{
    text-align: center;
}

.espaciado{
    padding: 20px;
}

.bigText{
    font-size: 1.3em;
    line-height: 1.5;
}

.imagen-col-12{
    width: 100%;
}

.hidden img{
    width: 100%;
    align-content: center;
    align-items: center;
    margin-top: 4px;
}

.consulta {
    height: 150px;
    align-content: center;
    align-items: center;
}

/* Medias Queries */

@media only screen and (max-width: 576px) {
    .hidden{
        display:none;
    }
}

@media only screen and (max-width: 776px) {
    .consulta {
        height: 200px;
    }
}