h1 {
    font: $title-font;
    line-height: 1.4em;
}
h2, h3, h4 {
    font: $fuente;
    font-weight: bolder;
    h2 {
        font-size: 1.8em;
        line-height: 1.2em;
    }
    h3 {
        font-size: 1.44em;
        line-height: 1.1em;
    }
    h4 {
        font-size: 1.15em;
        line-height: 1em;
    }
}
p {
    font: $fuente;
    line-height: 1.5em;
}
